@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px;
}

.header {
  border: 0px solid white;
  border-radius: 45px;
  width: 500px;
  height: 80px;
  display: flex;
  position: sticky;
  top: 15px;
  align-items: center;
  justify-content: left;
  padding-left: 80px;
  margin-left: 100px;
  margin-top: 30px;
  background-color: rgb(31, 66, 100);
  border: 2px solid grey;
  box-shadow: 2px 2px 2px rgb(46, 46, 46);
}

.header:hover {
  box-shadow: 1px 1px 1px rgb(88, 88, 88);
  border: 2px solid rgb(56, 56, 56);
  transition: box-shadow 0.3s, border 0.3s;
}

.header img {
  height: 40%;
}

.header p {
  padding: 10px;
  color: white;
}

.header input {
  font-size: 18px;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  border: 0.2em solid #ffffff;
  background: rgba(#ffffff, 0.2);
  border-radius: 20px;
  padding: 0.4em;
  color: #5c5656;
}

.header input:hover {
  color: #000000;
  transition: color 0.5s;
}

.subreddit-list {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
  padding: 25px;
  background-color: rgb(31, 66, 100);
  border: solid 1px black;
  border-radius: 35px;
}

@media only screen and (max-width: 1200px) {
  .subreddit-list {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    height: 120px;
    width: auto;
    display: flex;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
  }

  .header:hover {
    border: none;
  }

  .header input {
    height: 30px;
    width: 150px;
    font-size: 30px;
    appearance: none;
    border: none;
    outline: none;
    border: 0.2em solid #ffffff;
    background: rgba(#ffffff, 0.2);
    border-radius: 45px;
    padding: 0.4em;
    color: #5c5656;
  }
  .content {
    padding: 0 0;
  }
}
