.subreddit {
  background-color: #1f4264;
  color: white;
  height: 50px;
  width: 250px;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgb(122, 122, 122);
  margin: 10px;
  padding: 5px;
}

.subreddit:hover {
  background-color: rgb(202, 212, 223);
  border: 1px solid rgb(223, 223, 223);
  color: rgb(0, 0, 0);
  transition: background-color 0.5s, color 0.5s, border 1s;
}

.subreddit h3 {
  position: relative;
  left: 20px;
}
